.MVEPage{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    z-index: 1;
    overflow: hidden;
}
.mainContent{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    z-index: 1;
}

.mainContent.blurred{
    filter: blur(5px);
}


.MVEPagenav{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 90px;
}
.backdrop{
    z-index: 0;
    position: fixed;
    width: 100%;
    filter: blur(6px);
}
.movieSection{
    border-radius: 26px;
    position: relative;
    padding: 40px;
    margin: 130px 0px 10px 40px;
    background-color: rgba(0,0,0,0.8);
    width: 60%;
    height: 70vh;
    z-index: 1;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.movieInfo{
    padding: 20px;
    width: 50%;
    line-height: 0px;
    padding-left: 60px;
    h1{
        font-size: 30px;
    }
}
.movieDetailsCont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    font-size: 14px;

    .lang{
        background-color: white;
        color: black;
        padding: 2px;
        border-radius: 5px;
        width: 20px;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .item{
        width: 20px;
        margin-right: 6px;
    }
    p{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
   
}
.buysection{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: -20px;
    width: 310px;
    justify-content: space-between;

    button{
        width: 100px;
        font-weight: 700;
        font-size: 14px;
        color: white;
        border:4px solid rgb(216, 113, 216);
        background-color: transparent;
        border-radius: 8px;
    }
}
.additionalInfo{
    line-height: 20px;
    font-size: 11px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
    margin-left: -20px;
    p{
        padding: 10px;
        margin: 10px;
        width: 120px;
        border-radius: 4px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        transition: transform 0.3s ease, background-color 0.3s ease; 
    }
    p:hover{
        background-color: aliceblue;
        transform: scale(1.01);
        color: black;
        border-bottom: 2px solid rgb(216, 113, 216);
    }
}
.commentsSection{
    padding: 25px;
    margin: 130px 40px 10px 10px;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    width: 25%;
    height: 74vh;
    border-radius: 26px;
    
}
.current-comments{
    border: 2px solid rgba(94, 94, 94, 0.8);
    min-height: 80%;
    padding: 10px;
    border-radius: 16px;
    max-height: 80%;
    overflow-y: scroll; 
}
.current-comments::-webkit-scrollbar {
    display: none;
}
.current-comments {
    -ms-overflow-style: none;  
    scrollbar-width: none;   
    
}
.addcommentinput{
    background-color: transparent;
    border: 2px solid rgba(94, 94, 94, 0.8);
    border-radius: 16px;
    width: 97%;
    margin-top: 14px;
    height: 50px;
    color: white;
    font-size: 14px;
    padding-left: 10px;
}
.add-comment-section{
    position: relative;
}
.addcommentinput::placeholder{
    font-size: 15px;
    padding: 10px;
    font-family: "Inter", sans-serif;
}
.commentutton{
    position: absolute;
    bottom: -34px;
    right: 0px;
    width: 100px;
    padding: 5px;
    border:4px solid rgb(153, 25, 153);
    background-color: transparent;
    border-radius: 8px;
    font-weight: 200;
    font-size: 14px;
    color: white;
}

.commentItem{
    border: 1px solid rgba(94, 94, 94, 0.8);
    border-radius: 10px;
    margin-bottom: 10px;
    min-width: 100px;
    padding: 12px;
    background-color: rgba(40, 33, 40, 0.463);

    .comment{
        margin-bottom: -10px;
        margin-top: 0px;
    }

    .commentInfo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: -10px;
        padding-top: -20px;
        height: 30px;
        border-top: 1px solid rgba(94, 94, 94, 0.8);;
    }

    p{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        
    }
    .likebutton{
        width: 50px;
    }
}
.Mitem{
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.MVEPagenav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bucketBtn{
    margin-right: 40px;
}
.navLeft{
    margin-left: 0px;
    h4{
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .MVEPage{
        overflow-y:scroll;
        min-height: 200vh;
        height: 240vh;
    }
    .mainContent{
        display: flex;
        flex-direction: column;
    }
    .MVEPagenav{
        position: fixed;
        background-color: black;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        z-index: 10000;
    }
    .navLeft{
        margin-right: -30px;
        h4{
            font-size: 10px;
            margin-right: -10px;
        }
    }
    .navRight{
        margin-left: 10px;
    }
    .bucketBtn{
        font-size: 10px;
        margin-bottom: 34px;
    }
    .movieSection{
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 290px;
        margin: 10px;
        height: 100vh;
        margin-top: 100px;
    }
    .poster{
        width: 240px;
    }
    .movieInfo{
        width: 340px;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }
    .movieDetailsCont{
        display: flex;
       
    }
    .additionalInfo{
        grid-template-columns: repeat(2, 1fr);
    }

    .commentsSection{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 270px;
        height: 500px;
    }
    .current-comments{
        overflow-y: scroll;
        max-height: 500px;
    }
}