.movie-posterB{
    height: 260px;
    border-radius: 4px;
    margin-right: 16px;
    transition: transform 0.2s ease-in-out;
}
.movie-posterB:hover {
    transform: scale(1.001);
    filter: brightness(0.8);
}
  
@media (max-width: 600px) {
    .movie-posterB{
        height: 200px;
        border-radius: 10px;
    }
}