/* MovieCardA.css */
.movies-list {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    scroll-behavior: smooth;
  }
  
  .movies-list::-webkit-scrollbar {
    display: none;
  }
  
  .movie-poster {
    margin-right: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  .movie-poster:hover {
    transform: scale(1.001);
    filter: brightness(0.8);
  }
  
  .reel{
    h3{
        font-family: "Fredoka", sans-serif;
        font-weight: 500;
        padding-left: 20px;
        margin-bottom: -15px;
    }
  }
 