
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: black;
    padding: 20px;
    font-family: "Inter", sans-serif;
  }
  

  .login-form {
    background-color: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 20px;
    border: 2px solid rgb(216, 113, 216);
    width: 20%;
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .input-group input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .input-group input:focus {
    outline: none;
    border-color: #007bff;
  }
  
 
  .login-btn {
    padding: 12px;
    background-color: rgb(216, 113, 216);
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }
  

  @media (max-width: 768px) {
    .login-container {
      padding: 10px;
    }
    
    .login-form {
      padding: 20px;
    }
  
    .input-group input {
      font-size: 14px;
    }
  
    .login-btn {
      font-size: 14px;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .login-form {
      width: 80%;
      padding: 15px;
    }
  
    .input-group input {
      font-size: 13px;
    }
  
    .login-btn {
      font-size: 13px;
    }
  }
  