.icon{
    border: none;
    background-color: transparent;
}
.iconC{
    color: white;
}
button{
    cursor: pointer;
}
.pop{
    background-color: rgb(255, 255, 255);
    width: 840px;
    height: 440px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
    font-family: "Fredoka", sans-serif;
    display: flex;
    flex-direction: row;
    
    position: fixed;
    top: 20%;
    left: 22%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;

    h2{
        font-size: 24px;
        margin-bottom: -10px;
    }

    .reelsOrbit{
        
        width: 80px;
        height: 80px;
    }
    p{
        font-size: 14px;
    }
    .foot{
        position: absolute;
        opacity: 0.8;
        margin-bottom: -6px;
        margin-top: -6px;
        width: 300px;
        font-size: 12px;
        top: 406px;
        left: -36px;
    }
}


.right{
    height: 100%;
    width: 55%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url('https://w0.peakpx.com/wallpaper/16/596/HD-wallpaper-purple-planet-purple-planet.jpg');
    background-size: cover;
    background-position:-110px 20px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin-top: 80px;
    margin-left: 20px;
    
    p{
        font-size: 90px;
        font-weight: 800;
        font-family: "Dancing Script", cursive;
    }

    .reels{
        margin-bottom: -100px;
        color: white;
        
    }
    .orbit{
        color: rgb(255, 255, 255);
        margin-left: 100px;
    }
}

.logo2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    padding: 4px;
    border: 1px dashed rgb(3, 3, 3);
    margin-top: -4px;
    margin-bottom: -10px;

    p{
        font-size: 34px;
        font-weight: bolder;
        font-family: "Dancing Script", cursive;
    }

    .reels{
        color: rgb(0, 0, 0);
        margin-bottom: -30px;
        margin-right: 10px;
    }
    .orbit{
        color: rgb(0, 0, 0);
        margin-left: 10px;
    }
}

.icon{
    position: absolute;
    right: 10px;
    top: 10px;
}

.btns{
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    button{
        max-width: 400px;
        width: 260px;
        height: 40px;
        margin-bottom: 18px;
        border: none;
        border-radius: 20px;
        font-weight: 600;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    p{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .g{
        background-image: url('https://cdn-icons-png.flaticon.com/512/300/300221.png');
        background-size: cover;
    }
    .f{
        background-image: url('https://cdn-icons-png.flaticon.com/512/733/733547.png');
        background-size: cover;
    }
    .t{
        background-image: url('https://cdn-icons-png.flaticon.com/512/733/733579.png');
        background-size: cover;
    }
}

  
@media (max-width: 600px) {
    .icon{
        border: none;
        background-color: transparent;
    }
    .iconC{
        color: black;
    }
    button{
        cursor: pointer;
    }
    .pop{
        background-color: rgb(255, 255, 255);
        width: 340px;
        height: 440px;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        color: black;
        font-family: "Fredoka", sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        position: fixed;
        top: 20%;
        left: 7%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }
    
    .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        padding: 20px;
    
        h2{
            font-size: 20px;
            margin-bottom: -10px;
        }
    
        .reelsOrbit{
            
            width: 60px;
            height: 60px;
        }
        p{
            font-size: 14px;
        }
        .foot{
            position: absolute;
            opacity: 0.8;
            margin-bottom: -6px;
            margin-top: -6px;
            width: 300px;
            font-size: 12px;
            top: 390px;
            left: 20px;
        }
    }
    
    
    .right{
        height: 100%;
        width: 0px;
        opacity: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-image: url('https://w0.peakpx.com/wallpaper/16/596/HD-wallpaper-purple-planet-purple-planet.jpg');
        background-size: cover;
        background-position:-110px 20px;
    }
    
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 160px;
        height: 160px;
        margin-top: 80px;
        margin-left: 20px;
        
        p{
            font-size: 90px;
            font-weight: 800;
            font-family: "Dancing Script", cursive;
        }
    
        .reels{
            margin-bottom: -100px;
            color: white;
            
        }
        .orbit{
            color: rgb(255, 255, 255);
            margin-left: 100px;
        }
    }
    
    .logo2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        padding: 4px;
        border: 1px dashed rgb(3, 3, 3);
        margin-top: -40px;
        margin-bottom: -10px;
    
        p{
            font-size: 28px;
            font-weight: bolder;
            font-family: "Dancing Script", cursive;
        }
    
        .reels{
            color: rgb(0, 0, 0);
            margin-bottom: -30px;
            margin-right: 10px;
        }
        .orbit{
            color: rgb(0, 0, 0);
            margin-left: 10px;
        }
    }
    
    .icon{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    .btns{
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        button{
            max-width: 400px;
            width: 260px;
            height: 40px;
            margin-bottom: 18px;
            border: none;
            border-radius: 20px;
            font-weight: 600;
    
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        p{
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    
        .g{
            background-image: url('https://cdn-icons-png.flaticon.com/512/300/300221.png');
            background-size: cover;
        }
        .f{
            background-image: url('https://cdn-icons-png.flaticon.com/512/733/733547.png');
            background-size: cover;
        }
        .t{
            background-image: url('https://cdn-icons-png.flaticon.com/512/733/733579.png');
            background-size: cover;
        }
    }
}